<div class="container">
    <h1 class="display4">Info 
        <a href="" class="btn btn-outline-secondary btn-sm" ng-click="auto_fill();">
        {{status}}
        </a>
</h1>
    <h4 class="lead">Please fill in the form below.</h4>
    <form>
        <div>
            <label for="name">Your name</label>
            <input ng-model="order.user_name" type="text" class="form-control" value="">
        </div>
        <div>
            <label for="name">Your phone number</label>
            <input ng-model="order.phone" type="tel" class="form-control" value="">
        </div>
        <div>
            <label for="name">Your email address</label>
            <input ng-model="order.email" type="email" class="form-control" value="">
        </div>
        <div>
            <label for="address">Shipping Address</label>
            <input ng-model="order.address" type="text" class="form-control">
        </div>
        <div>
            <label for="address">Note to our shippers: </label>
            <textarea ng-model="order.delivery_note" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </form>
    <br/>
    <h3>Your item(s):</h3>
    <table class="table table-bordered">
        <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price per product</th>
            <th>Total</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in cart_items">
                <td>{{item.name}} </td>
                <td>{{item.quantity}} </td>
                <td>{{item.price | currency}} </td>
                <td>{{item.price*item.quantity | currency}} </td>
                <td style="text-align: center">
                    <a style="color: red" href="" ng-click="removeCartItem(item)" class="btn btn-link">
                        <span class="material-icons">delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:right">
        <p class="lead">Total:
            <strong>{{cart_money | currency}}</strong>
        </p>
    </div>
    <br/><br/>
    <div class="float-right">
        <a ng-click="confirmOrder(order, cart_items);" href="" class="btn btn-primary">Place Order</a>
    </div>

    <div id="modal_signin" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Sign in
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" ng-include src="'login.html'">
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/>
</div>