<style>
  .card:hover{
    cursor: pointer;
  }
</style>

<div class="container" style="margin-top: 1rem;">
  <div class="">
    <h1 class="display-4">Nice to meet you.</h1>
    <p class="lead">Feeling shopping?</p>
  </div>
  <div class="row">
    <div class="card-columns">
        <div class="card text-center" ng-repeat="d in products | filter: textSearch">
          <img ng-src="{{d.image}}" alt="" class="card-img-top" ng-click="moreInfo(d)">
          <div class="card-body" >
            <h3 class="card-title lead" ng-click="moreInfo(d)">{{d.name}}</h3>
            <p class="card-text">{{d.price|currency}}</p>
            <a class="btn btn-outline-info" ng-click="moreInfo(d)">See more</a>
            <a class="btn btn-outline-primary" ng-click="addToCart(d, 1)">Add to cart</a>
          </div>
        </div>
    </div>
  </div>
</div>