<br/>
<div class="container">
  <div ng-controller="SignupController" class="card card-body" id="login">
    <div class="row">
      <p class="col-md-3 display-3 float-left" style="text-align:center; display:block; margin:auto">Log in</p>
      <div class="col-md-9 float-right">
        <form>
          <div class="">
            <label for="email">Email</label>
            <input ng-model = "user.email" type="email" name="email" value="" class="form-control" required>
          </div>
          <div class="">
            <label for="password">Password</label>
            <input ng-model="user.password" type="password" name="password" value="" class="form-control" required>
          </div>
          <div class="">
            <br/>
            <button type="submit" name="button" class="btn btn-outline-primary float-right" ng-click="login(user)">Log in</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<br/>

  <div class="card card-body" id="signup" ng-controller="SignupController">
    <div class="row">
      <p class="col-md-3 display-3" style="text-align:center; display:block; margin:auto; float: right">Sign up</p>
      <div class="col-md-9 float-left">
        <form>
          <div class="container">
            <div class="alert fade show {{alert.type}}" ng-if="alert.show" role="alert">
              {{alert.message}}
            </div>
          </div>
          <div class="">
            <label for="email">Email</label>
            <input ng-change="checkEmail(account.email)" ng-model="account.email" type="email" name="email" value="" class="form-control {{invalid}}" required>
            <div class="invalid-feedback">
              This email is used to signup for another account.
            </div>
          </div>
          <div>
            <label for="username">Your name</label>
            <input type="text" ng-model="account.username" class="form-control">
          </div>
          <div class="">
            <label for="password">Password</label>
            <input ng-model="account.pass1" type="password" name="password" value="" class="form-control" required>
          </div>
          <div class="">
            <label for="password">Confirm Password</label>
            <input ng-model="account.pass2" type="password" name="password" value="" class="form-control" required>
          </div>
          <div class="">
            <br/>
            <button type="submit" name="button" class="btn btn-outline-primary float-right" ng-click="Signup(account)">Sign up</button>
          </div>
          {{e}}
        </form>
      </div>
    </div>
  </div>

</div>
