<div class="container" ng-init="getProductById();" style="margin-top: 1rem; margin-bottom: 2rem;">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img ng-src="{{productInfo.image}}" class="img-fluid" alt="Thumbnail image">
    </div>
    <div class="col-md-6 col-sm-12">
      <h1 class="display-4">{{productInfo.name}}</h1>
      <h4 class="lead">{{productInfo.price | currency}}</h4>
      <select class="form-control" name="" ng-model="r" style="text-align-last:center;"><!--ng-options="qu.value as qu.name for qu in rq"-->
        <option value="1" select="selected">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
      </select>

      <br/>
      <a ng-click="addToCart(productInfo, r)" href="" class="form-control btn btn-primary"> <span class="material-icons">shopping_cart</span> Add to cart </a>
      <br/>
      <br/>
      <div class="category">
        <p>Categories:
        <span class="badge badge-secondary"ng-repeat="cate in productInfo.category">{{cate.name}} </span></p>
      </div>
      <div class="subcategory">
        <p>Subcategories:
        <span class="badge badge-secondary"ng-repeat="sub in productInfo.subcategory">{{sub.name}} </span></p>
      </div>

    </div>
  </div>

  <br/>
  <div class="row">
    <h3>About the product</h3>
  </div>
  <div class="row">
    <p class="" style="white-space: pre-line;">{{productInfo.description}}</p>
    <img ng-src="{{productInfo.image}}" alt="Product Image" class="img-fluid">
    <button class="btn btn-primary form-control" ng-click="addToCart(productInfo, 1)">Add <strong>{{productInfo.name}}</strong> to cart</button>
  </div>
  <hr/>
  <div class="recommendation">
    <p class="lead">Check this also </p>
    <div class="card-columns">
      <div class="card text-center" ng-repeat="item in rec_items|limitTo:6" ng-click="moreInfo(item);" style="cursor:pointer;">
        <img ng-src="{{item.image}}" alt="" class="card-img-top" max-height= "350px">
        <div class="card-body">
          <h4 style="font-weight:normal;font-size:18px">{{item.name}}</h4>
          <div class="card-text lead">{{item.price|currency}}</div>
          <a class="btn btn-outline-info" ng-click="moreInfo(item)">See more</a>
          <a class="btn btn-outline-primary" ng-click="addToCart(item, 1)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
