<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img ng-src="{{productInfo.image}}" class="img-fluid" alt="Thumbnail image">
    </div>
    <div class="col-md-6 col-sm-12">
      <h1 class="display-4">{{productInfo.name}}</h1>
      <h4 class="lead">{{productInfo.price | currency}}</h4>
      <select class="form-control" name="" ng-model="r" ng-options="qu.value as qu.name for qu in rq">
        <option value="0" selected="selected">Choose a quantity</option>
      </select>

      <br/>
      <a ng-click="addToCart(productInfo, r)" href="" class="form-control btn btn-primary"> <span class="material-icons">shopping_cart</span> Add to cart </a>
      <br/>
      <br/>
      <div class="category">
        <p>Categories:
        <span class="badge badge-secondary"ng-repeat="cate in productInfo.category">{{cate.name}} </span></p>
      </div>
      <div class="subcategory">
        <p>Subcategories:
        <span class="badge badge-secondary"ng-repeat="sub in productInfo.subcategory">{{sub.name}} </span></p>
      </div>

    </div>
  </div>

  <br/>
  <div class="row">
    <h3>About the product</h3>
  </div>
  <div class="row">
    <p class="">{{productInfo.description}}</p>
  </div>
  <div class="row recommendation">
    <!-- <pre>{{products|json}}</pre> -->
  </div>
</div>
