<div class="container" ng-init="getProductById()">
    <h1>
        Edit product
        <button
            class="btn btn-outline-primary btn-sm"
            type="button"
            data-toggle="collapse"
            data-target="#collapeThumbnail">
            Show image
        </button>
        <div class="collapse" id="collapeThumbnail">
            <div class="card">
                <img
                    ng-src="{{product.image}}"
                    alt="product_image"
                    class="card-img-top center"
                    style="margin: auto; display:block">
            </div>
        </div>

    </h1>
<div class="row">
    <div class="col">
        <label for="" class="">Product name: {{product.name}}</label>
        <input
            type="text"
            name=""
            value=""
            ng-model="product.name"
            class="form-control">
    </div>

    <div class="col">
        <label for="">Product image</label>
        <div class="form-control" ng-controller="UploadCtrl as $ctrl">
            <div>
                <file-upload on-change="$ctrl.onChange">
                    Upload an image
                </file-upload>
            </div>
            <div class="progress" ng-if="bar">
                <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    ng-style="{'width': percentUploaded + '%'}"></div>
            </div>
            <div class="imagePreview" ng-if="thumbnail">
                <img
                    ng-src="{{downloadURL}}"
                    alt="thumbnail"
                    class="img-thumbnail rounded mx-auto d-block"
                    style="max-width: 640px; max-height: 420px"></div>
            </div>
        </div>
    </div>
    <div class="">
        <label for="" class="">Product price:
            {{product.price | currency}}</label>
        <input
            type="number"
            name=""
            value=""
            ng-model="product.price"
            class="form-control"></div>
        <div class="">
            <label for="" class="">Product description</label>
            <textarea
                type="text"
                name=""
                value=""
                rows="10"
                ng-model="product.description"
                class="form-control"></textarea>
        </div>
        <div class="" style="margin-top: 10px;">
            <label for="category" class="">Category
                <a
                    data-toggle='modal'
                    href=""
                    data-target="#CategoryModal"
                    class="btn btn-outline-dark btn-sm">new Category</a>
            </label>
            <select
                multiple="multiple"
                class="form-control category"
                ng-model="product.category">
                <option ng-repeat="a in a_category" value="{{a.id}}">{{a.name}}</option>
                </option>
            </select>
            <small>Hold "ctrl (or Shift)" to select multiple categories.</small>
        </div>
        <div class="" style="margin-top: 10px;">
            <label for="sub" class="">Subcategory
                <a
                    href=""
                    data-toggle='modal'
                    data-target="#SubcategoryModal"
                    class="btn btn-outline-dark btn-sm">new Subcategory</a>
            </label>
            <select
                multiple="multiple"
                name="subcategory"
                class="form-control subcategory"
                ng-model="product.subcategory">
                <option ng-repeat="a in a_subcategory" value="{{a.id}}">{{a.name}}</option>
            </select>
            <small>Hold "ctrl" to select multiple subcategories.</small>
        </div>
        <br/>
        <div class="buttons float-right" style="margin-bottom:2rem;">
            <a href="#!/manage_product" class="btn btn-secondary">Cancel</a>
            <a class="btn btn-primary" style="color:white" ng-click="updateProduct(product)">Save changes</a>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" style="background: rgba(79, 196, 137, 0.63)">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h4 class="modal-title" id="modelTitleId">Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Product updated
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="goBack()" data-dismiss="modal">Back to manage products</button>
                </div>
            </div>
        </div>
    </div>
    
