<div class="container-fluid" ng-controller="manage_productController">
    <h1 class="display-4">Manage Products</h1>
    <table class="table table-bordered table-responsive table-hover table-default">
        <thead style="text-align: center">
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Categories</th>
            <th>Subcategories</th>
            <th>Added on</th>
            <th>Available time</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="p in products | orderBy: created_at">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price | currency}}</td>
                <td>
                    <ul>
                        <li ng-repeat="c in p.category">{{c.name}}</li>
                    </ul>
                    
                </td>
                <td>
                    <ul>
                        <li ng-repeat="c in p.subcategory">{{c.name}}</li>
                    </ul>
                </td>
                <td>{{p.created_at}}</td>
                <td>
                    From 
                    <a href="">{{p.available_start}}</a> 
                    to 
                    <a href="">{{p.available_end}}</a>
                </td>
                <td>
                    <a href="" class="btn btn-primary"><span class="material-icons">edit</span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <pre>
{{products |json}}
    </pre>
</div>