<div class="container">
    <br/>
    <div class="row">
        <h3 class="col float-left" style="display: block">Available categories</h3>
        <h4>{{message}}</h4>
        <p>
            <a href="" class="col float-right" ng-click="getAvailableCategory()">
                <i class="material-icons">refresh</i>Refresh</a>
        </p>
    </div>
    <div class="available_categories row">
        <div class=" col">
            <table class="table table-bordered table-hover" style="text-align:center">
                <thead class="thead-light sticky-top">
                    <th>#</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="a in a_category track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{a.id}}</td>
                        <td>{{a.name}}</td>
                        <td>
                            <a href="" class="btn btn-secondary" ng-click="update_category(a)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#confirm_deleteModal" ng-click="confirm_delete_category(a)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>