<div class="container">
    <br/>
    <a href="#!/manage_order" class="lead btn btn-info btn-sm">Back</a>
    <h1 class="display-4 text-{{o.state}}">Order #{{o.id_order_products}}</h1>

    <p class="lead">ID: #{{o.id_order_products}}</p>
    <p class="lead">Order on {{o.created_at|date:"MM/dd/yyyy"}}</p>
    <p class="lead">ETA: {{o.eta|date:"MM/dd/yyyy"}}</p>
    
    <p class="lead">Status:
        <select ng-model="o.status" class="custom-select " ng-change="changeStatus(o)">
            <option seleted value="{{o.status}}"> {{o.status}} </option>
            <option value="{{o.option1}}">{{o.option1}}</option>
            <option value="{{o.option2}}">{{o.option2}}</option>
        </select>
    </p>
    <table class="table">
        <thead>
            <th>Product ID</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>View product</th>
        </thead>
        <tbody>
            <tr ng-repeat="d in detail">
                <td>{{d.product_id}}</td>
                <td>{{d.product_name}}</td>
                <td>{{d.product_quantity}}</td>
                <td>{{d.product_price|currency }}</td>
                <td>
                    <a href="../#!/product/{{d.product_id}}" class="btn btn-outline-info" target="_blank">
                        View in new tab
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="float-right">Total: {{o.price|currency}}</p>
</div>

<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please confirm your change</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Change order #{{confirm_order.id_order_products}} to
                <strong class="text-{{txtColor}}">{{confirm_order.status}}</strong>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateOrder(confirm_order);">Save</button>
            </div>
        </div>
    </div>
</div>